
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg,gray,black);
    display: flex;
    align-items: center;
    background-attachment: fixed;
    flex-direction: column;
}
.grp1{
    /* border: 1px solid black; */
    /* display: flex; */
    /* top: 0; */
    width: 80%;
    justify-content: flex-start;
}
.gd1{
    width: 100%;
    display: flex;
}
.gd1>img{
    width: 100%;
}
.gd1>header{
    position: absolute;
    margin-left: 35%;
}
.gd1>header,a{
    color: white;
    padding: 20px;
    text-decoration: none;
    word-spacing: 15px;
    font-family: 'Segoe UI';
}
a:hover{
    text-decoration: none;
    background-color: transparent;
    /* background-image:linear-gradient(-135deg,silver,rgba(36, 36, 36, 0.68)) ; */
    border-bottom: 2px solid white;
}
.gd1>h1{
    position: absolute;
    font-family: 'Grand Hotel';
    font-size: 125px;
    color: #ffc200;
    font-weight: 400; 
    margin-left: 30%; 
}
.gd1>p{   
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    position: absolute;
    margin-top: 20%;
    margin-left: 34%;
}
.gd1>button{
    position: absolute;
    background-color: #ffc200;
    border: none;
    border-radius: 3px;
    padding: 15px;
    margin-top: 27%;
    margin-left: 37%;
    font-family: "Montserrat";
    font-weight: 600;
    width: 10%;
}
.gd1>button:hover{
    /* background-color: white; */
    opacity: 0.5;
    transition: 0.5s;
}
.grp2{
    width: 80%;
    /* border: 3px solid white; */
    background-color: white;
    
    
}
.g2d1{
    /* border: 1px solid black; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}
.g2d1>h2{
    font-family: 'Grand Hotel';
    font-size: 90px;
    color:black;
    font-weight: 200; 
    text-align: center;
   
}
.g2d1>p{
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: -75px;
}
.g2d1i{
    /* border: 1px solid black; */
    height: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.g2d1iimg{
    width: 28%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom:px;
}
.g2sdi{
    /* border: 1px solid purple; */
    width: 77%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    
    
}
.g2sdii{
    border: 1px sollid red;
    width: 90%;
    /* border: 1px solid black; */
    
}
.g2sdii>h2{
    font-family: "Grand Hotel";
    color: #333333;
    text-align: center;
}
.g2sdii>p{
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    /* border: 1px solid green; */
    margin-bottom: 0px;
    
}
.grp4{
    width: 80%;
    /* border: 1px solid red; */
    background-image: url('media files/img\ 4.jpg');
    height: 500px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.g4d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffc400ab;
    width: 100%;
    height: inherit;
}
.g4d1>p{
    font-weight: 600;
    font-family: "Montserrat";
    font-size: larger;
    text-align: center;
}
.g4d1>h2{
    margin-top: -3%;
    font-size: 74px;
    color: #333333;
    font-weight: 400;
    font-family: "Grand Hotel";
    text-align: center;
}
.grp5{
    width: 80%;
    height: 500px;
    /* border: 1px solid yellow; */
    background-color: white;
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-image: url('media files/bg.JPG');
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
}
.g5dm{
    /* border: 1px solid black; */
    margin-bottom: 60px;
}
.g5dm>h2{
    font-size: 80px;
    color: #333333;
    font-weight: 600;
    font-family: "Grand Hotel";
    text-align: center;
}
.g5dm>p{
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    margin-top: -80px;
}
label>button{
    padding: 10px;
    background-color: #ffc200;
    border: none;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: large;
    float: left;
    width:31% ;
    box-shadow: 4px 4px 5px silver;
}
label>button:hover{
    color: white;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input1:focus{
    outline: none;
    border-left: 2px solid #ffc200;
    border-bottom-left-radius:5px ;
    border-top-left-radius: 5px;
}
.input1{
    width: 63.4%;
    padding: 10px;
    float: left;
    border: none;
    box-shadow: 4px 4px 5px silver;
    font-family: "Montserrat";
    font-size: large;
}
.grp6{
    /* border: 2px solid rgb(255, 75, 105); */
    width: 80%;
    background-color: rgb(36,36,36);
    height: 500px;
    display: flex;
}
.i{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ii{
    /* border: 1px solid white; */
    width: 20%;
    color: white;
    font-family: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    flex-direction: column;
}
ul{
    list-style-type: none;
    font-weight: 400 !important;
}
ul>a{
    text-decoration: none;
}
ul>li:hover{
    text-decoration: underline;
    cursor:pointer;
}
.is{
    /* border: 1px solid yellow; */
    width: 90%;
    font-family: "Montserrat";
    font-weight: 800;
    color: white;
}
.is>p{
    font-weight: 400;
    text-align: left;
}
.is>i{
    margin:0;
    padding:0;
}
.is>a{
    margin:3px;
    padding:0;
    text-decoration: none;
}
.is>a:hover{
    /* text-decoration: none; */
    border: 0px solid rgb(36, 36, 36);
}
.is2{
    /* border: 1px solid green; */
    width: 90%;
    margin-bottom: 30px;
}
.grp3{
    width: 80%;
    height: 1200px;
    /* border: 1px solid red; */
}
.g3d1{
    width: 100%;
    height: 300px;
    /* border: 1px solid green; */
    background-image: url('media files/wave4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: flex-end;
}
.g3d1s1{
    /* border: 1px solid yellow; */
    width: 25%;
    height: 20vw;
    border-radius: 50%;
    margin-left:5% ;
    background-image: url('media files/sub\ div\ image1.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}
.g3d1s2{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 65%;
}
.g3d1s2>h1{
    font-family: "Grand Hotel";
    font-size: 80px;
    font-weight: 500;
    color: #ffc200;
    margin-left: 23%;
    margin-bottom: -1%;
}
.g3d1s2>p{
    font-family: "Montserrat";
    color:#ffffff;
    text-align: center;
    font-weight:700 ;
}
.g3d1s2>button{
    background-color: #ffc200;
    border: none;
    border-radius: 3px;
    padding: 10px;
    align-self: center;
    opacity: 2.5;
    font-family: "Montserrat";
    font-weight: 600;
    width: 30%;
    
}
.g3d1s2>button:hover{
    opacity: 0.5;
    transition: 0.4s;
}
.g3d2{
    width: 100%;
    height: 600px;
    /* border: 1px solid yellow; */
    background-color: #333333;
    display: flex;
    align-items: center;
}
.g3d2s1{
    /* border: 3px solid pink; */
    width: 100%;
    height: 500px;
    background-image: url('media files/Capture3.JPG');
}
.g3d2s1>h1{
    font-family: "Grand Hotel";
    font-size: 90px;
    color: #ffc200;
    text-align: center;
    font-weight: 500;
}
.g3d2s1>p{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: -5%;
}
.buttonsdiv{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height:auto;
    flex-wrap: wrap;
}
.buttonsdiv>button{
    width: 20%;
    height: 15vw;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #333333;
    font-family:"Montserrat";
    color:#ffc200;
    font-weight: 900;
}
.buttonsdiv>button,h1{
    font-family:"Montserrat";
    color:#ffc200;
    font-weight: 900;
}
.buttonsdiv>button,p{
    color: white;
    font: bold;
    font-family: "Montserrat";
}
.g3d3{
    width: 100%;
    height: 400px;
    display: flex;
    /* border: 1px solid rgb(255, 139, 158); */
    background-color: white;
    background-image: url('media files/wave\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position: center; */
}
.g3d3s1{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 65%;
}
.g3d3s1>h1{
    font-family: "Grand Hotel";
    font-size: 80px;
    font-weight: 500;
    color: #ffc200;
    margin-left: 20%;
    margin-bottom: -1%;
}
.g3d3s1>p{
    font-family: "Montserrat";
    color:#000000;
    text-align: center;
    font-weight:700 ;
}
.g3d3s1>button{
    background-color: #ffc200;
    border: none;
    border-radius: 3px;
    padding: 10px;
    align-self: center;
    font-family: "Montserrat";
    font-weight: 600;
    width: 30%;
}
.g3d3s1>button:hover{
    background-color: black;
    color: white;
}
.g3d3s2{
    margin-top: 3%;
    /* border: 1px solid yellow; */
    width: 25%;
    height: 20vw;
    border-radius: 50%;
    margin-left:5% ;
    background-image: url('media files/nuggets.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}